<label>
  <md-input-container>
     <input
      type="text"
      name="searchUsers"
      mdInput
      placeholder="Type to search..."
      [mdAutocomplete]="auto"
      [formControl]="usersFormCtrl"
      >
  </md-input-container>

  <md-autocomplete #auto="mdAutocomplete">
    <md-option *ngFor="let user of fuserilteredUsers | async" [value]="user.name">
      {{ user.name }}
    </md-option>
  </md-autocomplete>

  <button md-mini-fab color="primary" (click)="streamUsers(currentUsers)"><md-icon>search</md-icon></button>

</label>
